{#- SPDX-FileCopyrightText: 2025 Antoni Szymański -#}
{#- SPDX-License-Identifier: MPL-2.0 -#}

for (const window of workspace.windowList()) {
  if (window.pid === {{ pid }}) {
    workspace.activeWindow = window
  }
}
